="List of users"
%table{ :border => "1"}
	%thead
		%tr
			%td 
				="students's first name " 
			%td
				="students's last name"
			%td
				="students's date of birth"
			%td
				="student's email"
	%tbody

	- @users.each do |user|
		%tr
			%td
				= user.first_name
			%td
				= user.last_name
			%td
				= user.birth_date
			%td
				= user.email
			%td
				= link_to "Update student", edit_stud_path(user.id)
			%td
				= link_to "Delete student", stud_path(user.id), method: :delete, data: { confirm: 'Are you sure?' }
			%td
				= link_to "Show", stud_path(user.id), method: :get
%center
= link_to "Add student", new_stud_path