.text_header
	= "Students informations: "
%br
.text
	= render 'show_table1'
	%br

	= "Courses where #{@stud.first_name} #{@stud.last_name} is enrolled:"
	%br
		= render 'show_table2'
	%br
	= "Available courses"
	= render 'show_table3'
