= "Students informations: "
%br
="students's first name: " 
= @stud.first_name
%br
="students's last name: "
= @stud.last_name
%br
="students's date of birth: "
= @stud.birth_date
%br
="student's email: "
= @stud.email
%br
= link_to "Back", studs_path
