<h1> Students </h1>

<%= link_to "New Student", controller: "students", action: "new" %>

<table>
  <tr>
    <th> First name </th>
    <th> Last name </th>
    <th> Birth date </th>
  </tr>
  
  <% @students.each do |s| %>
    <tr>
      <td> <%= s.first_name %> </td>
      <td> <%= s.last_name %> </td>
      <td> <%= s.birth_date %> </td>
      <td> <%= link_to "view", s %>
      <td> <%= link_to "delete", s, method: :delete %> </td>
    </tr>
  <% end %>
</table>
