<h2> <%= @student.first_name %> <%= @student.last_name%> </h2>
<div>
  Birth date: <%= @student.birth_date %>
</div>

<div>
<%= link_to 'edit', controller: 'students', action: 'edit', id: @student %>
<%= link_to "delete", @student, method: :delete %>
<%= link_to 'Add course', add_course_path %>
</div>

<% if @courses.any? %>
<h3> Courses </h3>
  <table>
    <% @courses.each do |course| %>
      <tr>
        <td> <%= link_to course.name, course_path(course) %> </td>
        <td> <%= link_to 'remove', delete_enrollment_path(student_id: @student.id,
                 course_id: course.id, last_url: student_path(@student)) %> </td>
      </tr>
    <% end %>
  </table>
<% end %>
