<p id="notice"><%= notice %></p>

<p class = "studs">
  <strong class="show">First name:</strong>
  <%= @student.first_name %>
</p>

<p class = "studs">
  <strong class="show">Last name:</strong>
  <%= @student.last_name %>
</p>

<p class = "studs">
  <strong class="show">Birthday:</strong>
  <%= @student.birthday %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
