<h2> <%= @student.first_name %> <%= @student.last_name%> </h2>
<div>
  Birth date: <%= @student.birth_date %>
</div>

<%= link_to 'edit', controller: 'students', action: 'edit', id: @student %>
<%= link_to "delete", @student, method: :delete %>

