.text_header
	= "Course informations: "
	%br
		= "Course name: " 
		= @course.name
%br
.text
	= "Students fromt the course  #{@course.name} :"
	= render 'table1'

	%br
	= "Available students"
	= render 'table2'
