<<<<<<< HEAD

||||||| merged common ancestors
=======
<<<<<<< HEAD
>>>>>>> acfb13af897c9619c706f46c086dbb2a315fc0b6
<!DOCTYPE html>
<html>
<head>
  <title>Studentsproject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
||||||| merged common ancestors
=======
<!DOCTYPE html>
<html>
<head>
  <title>Students</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
>>>>>>> 5926306261dfa3ce97d3c625b5e8145f63f1520a
